In [11]:
import pandas as pd
import numpy as np
from scipy.spatial import distance_matrix

### Read CSV
##### Input: filename

In [8]:
df = pd.read_csv('../data/adjacency_matrix.csv');
df

    A   B   C   D   E   F   G   H   I   J
A   0  59  48  69  54  91  55  34  81  72
B  59   0  45  19  45  73  48  13  13  42
C  48  45   0  97  11  65  12  58  70  45
D  69  19  97   0  31  94  23  66  71  13
E  54  45  11  31   0  95  37  47  24  49
F  91  73  65  94  95   0  62  35  38  61
G  55  48  12  23  37  62   0  82  96  47
H  34  13  58  66  47  35  82   0  10  47
I  81  13  70  71  24  38  96  10   0  63
J  72  42  45  13  49  61  47  47  63   0

In [19]:
# node names array
namesArr = np.unique(np.concatenate( (df.columns.values, df.index.values), axis=0 ))
namesArr

# node dictionary

# distances matrix

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'], dtype=object)

### Generate n nodes
##### Input: n (number of nodes), lim - space limit

In [22]:
n = int(input())
arr = np.arange(n)
for i in range(0, n):
    arr.append(arr, )

5